
h1{text-decoration:underline}
body {
 background-image: url("https://images.fastcompany.com/upload/BenchPrep-Studying-620.jpg");
 background-color: #cccccc;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;}}
 form{color:blue ;}	
form{
	font-family : Helvetica;
	font-size : 100%;
  font-weight: bold;

}
 h1 {
   color: #ea503f;
   font-family: Arial;
 }
 legend{color:red;}

 button{ padding:14px 40px  }
 header {background: rgba(0,0,0,.25); margin-bottom: 10px; height: 60px; padding-top: 15px; }
			  header a { color: rgb(255,255,255); text-decoration: none; }
			  #logo { float: left; margin-left: 10px; font-family: 'Merriweather', serif; font-size: 150%; color: rgb(255,255,255);}
			  strong{color:white;}
			 